.todoCard{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    padding: 20px;
    background-color: #282c34;
    margin: 10px;
    border: 2px black solid;
    border-radius: 25px;
    color: white;

}

button{
    width: 150px;
    height: 50px;
    align-self: center;
}