name: Deploy to render

on:
  push:
    branches:
      - main

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: Build-Frontend
        run: |
          cd frontend
          npm install
          npm run build
      - uses: actions/upload-artifact@v2
        with:
          name: frontend-build
          path: frontend/dist/
  build-backend:
    runs-on: ubuntu-latest
    needs: build-frontend
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '20'
          distribution: 'temurin'
      - uses: actions/download-artifact@v2
        with:
          name: frontend-build
          path: backend/src/main/resources/static
      - name: build-backend
        run: mvn -B package --file backend/pom.xml
      - uses: actions/upload-artifact@v2
        with:
          name: backend-build
          path: backend/target/todo.jar

  push-to-docker-hub:
    runs-on: ubuntu-latest
    needs: build-backend
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: backend-build
          path: backend/target

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          #Set dockerhub username
          username: flooooooooooorian
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          #Set dockerhub project (replace "bartfastiel/java-capstone-project.de-example-app")
          tags: flooooooooooorian/ffm-java-23-1-todo:latest
          context: .
  deploy-to-render:
    runs-on: ubuntu-latest
    needs: push-to-docker-hub
    steps:
      - name: Trigger redeploy
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_URL }}
